*{
    box-sizing: border-box;
}
 
body{
    margin: 16px;
    text-align: center;
    font-family: 'Nunito' , sans-serif;
}

.meme-container{
    margin-top: 16px;
    max-width: 440px;
    margin-inline: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 16px;
}
img{
    width: 100%;
}
.meme-title{
    margin-top: 0;
}

.author{
    margin-bottom: 0;
}
button{
    border: none;
    font: inherit;
    padding: 8px 12px;
    background-color:#069179;
    color: white;
    width: 100%;
    max-width: 440px;
    border-radius: 8px;
    
    cursor: pointer;
}
button:active{
    background-color: #057c68;
}

img{
    width: 100%;
    border-radius: 8px;
    margin: 8px 0;
}